#divFileProgressContainer {
	display: none;
}

.progressWrapper {
	width: 360px;
	overflow: hidden;
}

.progressContainer {
	margin: 0;
	padding: 5px;
	height: 50px;
	width: 350px;
	color: #fff;
	border: solid 1px #111;
	background-color: #111;
	overflow: auto;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 2px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #111;
	background-color: #000;
}

/* Complete */
.blue {
	border: solid 2px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 13px;
	color: #fff;
	width: 323px;
	height: 16px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 12px;
	background: url(/siteimages/upload-progress.gif) no-repeat;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
